p,li,h1, tr { /* selecetor de elemento*/
    color: blue;
    width: 500px;
    border: 1px solid black;

}
#niveles {/*selector de identidad*/
    background-color: gold;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 10px; 
    border:1px dashed  blue;
margin: 0 auto;

}

.diferente{/*selector de clase*/
    color: brown;
    border: 2px solid blue;

}
#niveles:hover{
    color: blueviolet;
    background-color: red
}